<launch>

   <master auto="start"/>
   
 <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find pathplanning_mini)/config/footprint.yaml"/>



 
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen" >
    <remap from="base_pose_ground_truth" to="odom"/>
    <param name="global_frame_id " value="map" />
    <param name="base_frame_id" value="base_arm"/>
    
  </node>

 
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pathplanning_mini)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find pathplanning_mini)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pathplanning_mini)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pathplanning_mini)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find pathplanning_mini)/config/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="robot/diff_drive_controller/cmd_vel"/>
    
 </node>

</launch> 